/* typerequests.css */
.typerequest-1 {
    color: #FF5733 !important; /* Rojo */
  }
  .typerequest-2 {
    color: #33FF57 !important; /* Verde */
  }
  .typerequest-3 {
    color: #3357FF !important; /* Azul */
  }
  .typerequest-4 {
    color: #F39C12 !important; /* Naranja */
  }
  .typerequest-5 {
    color: #9B59B6 !important; /* Morado */
  }
  .typerequest-6 {
    color: #1ABC9C !important; /* Turquesa */
  }
  .typerequest-7 {
    color: #34495E !important; /* Gris oscuro */
  }
  